<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    this is edit items page

    <div><%= items[0].name %> <button onclick="delete_1()">>Delete</button></div> 
    <div><%= items[1].name %> <button onclick="delete_2()">Delete</button></div>
    <div><%= items[2].name %> <button onclick="delete_3()">Delete</button></div>







</body>
</html>