<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Character</title>
</head>
<body>
    

    <h1>Create a new Character!</h1>

    <div>
        <form action="/guild" method="post">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="class" name="class">
            <input type="text" placeholder="specialization" name="specialization">
            <input type="text" placeholder="profession 1" name="profession_1">
            <input type="text" placeholder="recipes" name="recipe_1" value="">
            <input type="text" placeholder="profession 2" name="profession_2">
            <input type="text" placeholder="recipes" name="recipe_2" value="">
            <button type="submit" >Submit</button>
    </div>



</body>
</html>