.form-style-7{
	max-width:400px;
	margin:50px auto;
	background-color: rgba(255, 255, 255, 0.772);
	border-radius:2px;
	padding:20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background-color: rgba(255, 255, 255, 0.772);
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #B9B9B9;
	font-size: 14px;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
/* .form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
} */
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #8c7c7c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
    
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"]{
	background: #898989e5;
	border: none;
	padding: 10px 20px 10px 20px;
	/* border-bottom: 3px solid #8c7c7c; */
	border-radius: 3px;
	color: #393939;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover{
	background: #8c7c7c;
	color:#fff;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
    width: 100%;
    height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image:url('https://wallpaperaccess.com/full/2796640.jpg') ;
}

.title{
    font-size: 60px;
    text-align: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.772);
    width: 600px;
    align-self: center;
    border-radius: 20px;
}


.itemList{
    align-self: center;
}

.button{
    font-family: 'Bilbo';
    border-radius: 25px;
    background-color: rgba(247, 216, 170, 0);
    font-size: 18px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    border: none;

}

.button:hover {
    background-color: rgba(0, 0, 0, 0.467);
    color: antiquewhite;
} 