body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Joan', serif;
    width: 100%;
    height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.808), rgba(117, 19, 93, 0)),
        url('./images/994628.jpeg');

}


.backgroundAdjustment {
    justify-content: center;
}

.loginPageTitle {
    font-size: 100px;
    padding: 5px;
    text-align: center;
    color: rgb(254, 217, 115, 0.8);
    text-shadow: 2px 2px 4px black
}

.privacyWarning {
    font-size: 14px;
    color: antiquewhite;
    text-decoration: underline;
    text-align: center;
    position: fixed;
    top: 95%;
    background-color: rgba(61, 60, 59, 0.572);
}

.photoCredit {
    color: antiquewhite;
    font-size: 8px;
    position: fixed;
    top: 98%;
    right: 5%;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-content: center;


}

a {
    font-size: 40px;
    text-align: center; 
    position: fixed;
    top: 50%;
     
}

.googleLogin {
    font-size: 40px;
    border-radius: 25px;
    font-family: 'Joan', serif;
    background-color: rgba(255, 255, 255, 0.4);
}

.googleLogin:hover {
    background-color: rgba(0, 0, 0, 0.64);
    color: rgba(255, 255, 255, 0.682);
}